@import 'vars';

.root {
  -fx-background-color: $bg;
  -fx-text-fill: $fg;
  -fx-font-size: $text-md;
}

.container {
  -fx-background-color: $bg;
  -fx-text-fill: $fg;
}

.app-content {
  -fx-padding: $content-padding;
}

.button {
  -fx-background-color: $bg;
  -fx-text-fill: $fg;

  -fx-padding: $button-padding;

  -fx-font-size: $text-md;

  -fx-border-radius: $border-radius;

  -fx-background-radius: 0;
  -fx-border-color: black;
  -fx-border-width: 1;
  -fx-background-insets: 0;

  &:hover {
    -fx-background-color: darken($bg, 5%);
    -fx-text-fill: $fg;
  }

  &:armed {
    -fx-background-color: darken($bg, 10%);
    -fx-text-fill: $fg;
  }
}

.table-view {
  -fx-background-color: $bg;
  -fx-text-fill: $fg;
  -fx-border-color: transparent;
}

.table-view .column-header {
  -fx-background-color: transparent;
  -fx-alignment: center-right;
}

.table-view .column-header-background .filler {
  -fx-background-color: transparent;
}

.table-view .corner {
  -fx-background-color: transparent;
}

.table-view .column-header-background {
  -fx-border-color: $fg;
  -fx-border-width: 0 0 1 0;

  -fx-background-color: $bg;
  -fx-background-radius: 0px 0px 0px 0px;
  -fx-padding: 0 0 5px 0;
}

.table-view .table-cell {
  -fx-padding: 2 0 2 10px;

  -fx-border-color: darken($bg, 2%);
  -fx-border-width: 0 0 1 0;

}

.table-row-cell:hover {
  -fx-background-color: darken($bg, 5%);
  -fx-text-background-color: $fg;
}

.table-row-cell {
  -fx-padding: 0.0em;
  -fx-background-color: $bg;
  -fx-text-background-color: $fg;
}


/*input*/
.text-field {
  -fx-background-color: $bg;
  -fx-text-fill: $fg;

  -fx-font-size: $text-md;

  -fx-padding: $input-padding;

  -fx-background-radius: $radius;
  -fx-border-color: black;
  -fx-border-width: 1;
  -fx-background-insets: 0;

  -fx-border-radius: $border-radius;
}

.text-field:hover {
  -fx-background-color: darken($bg, 5%);
  -fx-text-fill: $fg;
}

.text-field:focused {
  -fx-background-color: $bg;
  -fx-text-fill: darken($fg, 10%);
}

.password-field {
  -fx-background-color: $bg;
  -fx-text-fill: $fg;

  -fx-pref-height: $input-height;

  -fx-background-radius: $radius;
  -fx-border-color: black;
  -fx-border-width: 1;
  -fx-background-insets: 0;
  -fx-border-radius: $border-radius;
}

.password-field:hover {
  -fx-background-color: darken($bg, 5%);
  -fx-text-fill: $fg;
}

.password-field:focused {
  -fx-background-color: $bg;
  -fx-text-fill: darken($fg, 10%);
}

.input-field-error {
  -fx-border-color: $error;
}


/* label */
.label {
  -fx-background-color: $bg;
  -fx-text-fill: $fg;
  -fx-font-size: $text-sm;

  -fx-padding: 0 0 0 0;
}

.title {
  -fx-font-size: $text-lg;
  -fx-text-fill: $fg;
}

/* menu, menubar, menuitem*/
.menu-bar {
  -fx-background-color: $bg;
  -fx-text-fill: $fg;
}

.menu {
  -fx-background-radius: $radius;
  -fx-padding: 5px 6px;
  -fx-background-color: $bg;
}

.navbar {
  -fx-border-color: $fg;
  -fx-border-width: 0 0 1 0;
}

.navbar-label {
  -fx-font-size: $text-md;
  -fx-text-fill: $fg;
}


.menu .label {
  -fx-font-size: $text-md;
  -fx-text-fill: lighten($fg, 23%);
}

.menu .label:hover {
  -fx-text-fill: $fg;
  -fx-background-color: transparent;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {

}

.menu-item .label {
  -fx-text-fill: $fg;
  -fx-background-color: transparent;
}

.menu-item .label:hover {
  -fx-background-color: transparent;
}

.menu-item:hover {
  -fx-background-color: darken($bg, 5%);
}

.menu-item:focused {
  -fx-background-color: darken($bg, 5%);
}



