$bg: rgb(248, 248, 248);
$fg: rgb(17, 17, 17);
$error: rgb(255, 0, 0);
$success: rgb(0, 255, 0);
$warning: rgb(255, 255, 0);

$text-lg: 16px;
$text-md: 14px;
$text-sm: 12px;

$button-padding: 4px 8px;

$radius: 2px;

$border-radius: 5;

$input-height: 12px;
$input-padding: 4px 4px;

$content-padding: 8px 8px 0px 8px;